<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= wiki.title %></h1>
      <!-- <p><%= wiki.body %></p> -->

      <% if(!currentUser) { %>
        <small>Please sign up/sign in to create your own wiki topic.</small>
      <% } %>

      <% if(currentUser) { %>
          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
          <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      <% } %>
      <% if(wiki.private) { %>
        <a href="/wikis/<%= wiki.id %>/collaborators" class="btn btn-info">Edit Collaborators</a>
        <% } %>

      <a href="/wikis/" class="btn btn-success">Wikis</a>

      <hr>
      <p><%- wiki.body %></p>
    </main>


    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
